html, body {
    margin: 0;
    padding: 0;
}

header {
    width: calc(100% - 32px); /*corrigir problema do padding vazando*/
    height: 70px;
    background: #00008B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
}

.logotipo {
    width: 200px;
    height: 45px;
    background: #1E90FF;
}

nav {
    width: 500px;
    height: 45px;
    background: #1E90FF;
}