html, body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #2c2c2c;
    color: #ddd;
}

body > header {
    width: calc(100% - 32px); /*corrigir problema do padding vazando*/
    height: 80px;
    background: /*#00008B*/#191970;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    position: fixed;
}

.logotipo {
    width: 200px;
    height: 45px;
    display: flex;
    align-items: center;
    gap: 7px;
}

.logotipo img {
    width: 50px;
    height: 40px;
}

.logotipo h1 {
    margin: 0;
    color: #ddd;
    font-size: 25px;
}

.logotipo h1 span {
    color: #1E90FF;
}

body > header nav {
    color: #ddd;
}

nav ul {
    display: flex;
    gap: 35px;
    list-style: none;
    font-weight: 600;
    margin: 0 20px 0 0;
}

nav ul li {
    cursor: pointer;
}

main {
    background: #565656;
    min-height: calc(100vh - 200px); /*desconta a altura do footer*/
}

footer {
    background: #191970;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}