html, body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #5F9EA0;
    color: #ddd;
}

body > header {
    width: calc(100% - 32px); /*corrigir problema do padding vazando*/
    height: 80px;
    background: /*#00008B*/#0055ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    position: fixed;
}

body > header > nav a {
    color: #ddd;
    text-decoration: none;
    padding: 0 0 8px 0;
}

body > header > nav a:visited {
    color: #9a9a9a;
}

body > header > nav a:hover {
    color: #00008B;
    border-bottom: #ddd 4px solid;
}

body > header > nav a.active {
    color: #00008bb6;
    border-bottom: #ddd 4px solid;
}

.logotipo {
    width: 200px;
    height: 45px;
    display: flex;
    align-items: center;
    gap: 7px;
}

.logotipo img {
    width: 70px;
    height: 60px;
}

.logotipo h1 {
    margin: 0;
    color: #ddd;
    font-size: 25px;
}

.logotipo h1 span {
    color: #00008B;
}

nav ul {
    display: flex;
    gap: 35px;
    list-style: none;
    font-weight: 600;
    margin: 0 40px 0 0;
}

nav ul li {
    cursor: pointer;
}

body > main {
    background: #778899;
    min-height: calc(100vh - 200px); /*desconta a altura do footer*/
    padding: 8px;
}

body > footer {
    background: #0055ff;
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cards {
    height: 100%;
    width: 100%;
    display: flex;
    margin: 100px 20px 0 20px;
    gap: 24px;
    flex-wrap: wrap;
}

.card-ticker {
    width: 350px;
    height: 280px;
    background: #417de9;
    border-radius: 20px;
    margin-bottom: 5px;
}

.card-ticker header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-ticker header h2 {
    margin: 19px 0 0 15px;
    font-size: 12px;
}

.card-ticker header h2 span {
    font-weight: 500;
}

.card-ticker header h1 {
    margin: 15px 15px 0 0;
    font-size: 14px;
}

.card-ticker {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.card-ticker main p{
    font-size: 32px;
    margin-left: 15px;
}

.card-ticker main span:nth-child(2) {
    background: #228B22;
    font-weight: 600;
    padding: 4px 6px;
    margin: 0 5px 0 15px;
    border-radius: 10px;
}

.card-ticker footer {
    display: flex;
    justify-content: space-between;
    margin: 40px 15px 0 15px;
}

.card-ticker footer div:nth-child(2) {
    text-align: right;
}

.card-ticker footer div p{
    margin: 0;
    font-size: 18px;
}

.card-ticker footer div span{
    font-size: 14px;
    font-weight: 500;
}

table {
    border-collapse: collapse; /*juntar bordas*/
    margin: 0 20px 0 20px;
}

th, td {
    border: 1px solid #ddd;
    text-align: left;
    color: white;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #4169E1;
}

tr:nth-child(odd) {
    background-color: #6495ED;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.dados {
    display: flex;
    justify-content: center;
    gap: 10px;
}

fieldset {
    width: 400px;
    display: flex;
    flex-direction: column;
    color: white;
    gap: 13px;
    border-radius: 10px;
    justify-content: center;
}

input[type=submit] {
    width: 100px;
    height: 35px;
    border: solid 1px #434242;
    cursor: pointer;
    border-radius: 10px;
    background: #1e981e;
    color: white;
    font-weight: 100;
    font-size: 15px;
}

input[type=submit]:hover {
    background: #23c423;
}

input[type=submit]:active {
    background: #228B22;
}

label {
    color: white;
}

/*input[type=text] {  --> editando pelo tipo
    padding: 5px;
}*/

input, select {
    border-radius: 5px;
    border: none;
    padding: 4px;
    background: #d3d3d3;
    color: #1a1919;
    font-weight: 600;
}

.termos-comentarios {
    width: 860px;
    display: flex; 
    flex-direction: column;
}

textarea {
    border-radius: 10px;
}

#banner {
    width: 500px;
    height: 300px;
    /*background-color: #1a1919;
    background-image: url('../img/banner.jfif');
    background-size: 200px 200px;
    background-repeat: no-repeat;
    background-position: right bottom;*/
    
    background: #1a1919 url('../img/banner2.jpg');
    background-size: cover;
}

#banner h2 {
    margin: 40px 0 0 40px;
    color: white;
}

nav > div {
    display: none;
}

.line-menu {
    width: 50px;
    height: 5px;
    background: black;
}

@media (height > 562px) {
    body > footer {
        height: 200px;
    }
}

@media (width <= 1474px) {
    #cards {
        justify-content: center;
        gap: 80px;
    }
}

@media screen and (width <= 674px) {
    nav ul {
        display: none;
    }

    nav div {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin: 0 15px 0 0;
    }

    #cards {
        justify-content: center;
    }
}

@media (width <= 568px) {
    #cards {
        justify-content: center;
    }
}

@media (width <= 568px) {
    #cards {
        justify-content: center;
    }
}

@media screen and (max-width <= 334px) {
    .card-ticker {
        width: 100%;
    }
}

@media (width <= 312px) {
    h1 {
        display: none;
    }
}


